.amis-container {
  background: #d50000;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-family: Arial, sans-serif;
}

.amis-container h1 {
  padding: 20px;
  margin:20px;
  font-size: 28px;
  text-align: center;
  width: 100;
}

.amis-content {
  background: #9c27b0;
  padding: 20px;
  border-radius: 8px;
  color: white;
}

.ami-input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  width: 200px;
  margin-right: 10px;
  font-size: 16px;
}

.btn-add {
  background: #43a047;
  border: none;
  padding: 10px 18px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.status {
  font-size: 20;
  color: rgb(255, 230, 109);
  font-weight: bold;
  width: 100%;
  height: 50px;
}
.friends-box {
  background: #0d47a1;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  color: white;
}

.friends-box p {
  margin: 5px 0;
}
.creation-msg{
  color: rgb(194, 210, 71);
  font-weight: bold;
}